img {
    width: 50px;
}

#navBarUL{
    text-decoration-color: black;
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
}

li{
    align-self: flex-start;
}