img {
    width: 50px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    align-content: center;
}

ul{
    width: 25rem;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    /* background-color: aquamarine; */
}

.nav-item{
    align-self: flex-start;
}

